
{%extends 'home/base.html'%}
{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="container"><div class="row"><h1 class="text-left">Forgot your password?</h1></div></div>
  <hr>
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
  <div class="container-fluid ">
  <form method="POST" class="row  rounded text-black form form-control">
    {% csrf_token %}
  {{ form.as_p }}
    
   <input type="submit"  value="Send me instructions!"> 
  </form>

</div>
</div>
{% endblock %}

