{%load static%}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tasksite</title>
  {%block head%}
  {%endblock%}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'blog/css/blog-home.css'%}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
          {%if user.is_authenticated%}
        <a class="navbar-brand" href="{%url 'home:prof'%}"> myprofile</a>
            {%endif%}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{%url 'home:home'%}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>


            {%if user.is_authenticated%}
               <li class="nav-item">
                 <a class="nav-link" href="{%url 'home:logsout'%}">logout</a>
                </li>
              {%else%}
                  <li class="nav-item">
                    <a class="nav-link" href="{%url 'home:logs'%}">login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{%url 'home:regs'%}">register</a>
                    </li>
              {%endif%}

          </ul>
        </div>
      </div>
    </nav>
    {%block content%}
    {%endblock%}

    <!-- Bootstrap core JavaScript -->
    <script src="{%static 'blog/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'blog/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  </body>

</html>
